nav {
    background-color: rgb(32, 35, 41);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    min-height: 60px;
    padding: 0px 1.5rem
}

.imgSize {
    margin: 20px;
    width: 300px;
}